.table{
    tbody{
        tr:first-child{
            font-weight: bold;
            color: black;
        }

        td:first-child{
            font-weight: bold;
            color: black;
        }


    }
}